body{

background:#0f172a;

font-family:Arial;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

background:white;

color:black;

padding:40px;

border-radius:10px;

text-align:center;

box-shadow:0 0 20px black;

}

button{

padding:12px 30px;

background:blue;

color:white;

border:none;

cursor:pointer;

margin-top:20px;

}

button:hover{

background:green;

}